<div class="item team" id="team2">

    <div class="container">

        <div class="row margin-bottom-40">

            <div class="col-md-12">

                <p class="lead text-center editContent"
                   style="color: rgb(52, 73, 94); font-size: 30.006px; background-color: rgb(255, 255, 255);">
                    {{vm.title}}, {{vm.userRankingData[0].user.name}}
                </p>

            </div><!-- /.col-md-12 -->

        </div><!-- /.row -->


        <div class="item content" id="content_section10">

            <div class="container">

                <div ng-class="vm.userRankingData.length > 0  ? 'row' : 'hide-something'">
                    <div class="col-md-6">

                        <div class="editContent">
                            <h3>Obrigado pelo seu voto</h3>

                            <p>
                                Veja seus restaurantes favoritos
                            </p>
                        </div>



                    </div>

                    <div class="col-md-6">

                        <div class="tableWrapper">
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                <tr>
                                    <td>Restaurante</td>
                                    <td>Seu Voto</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="userVote in vm.userRankingData | orderBy : '-total' ">
                                    <td>{{userVote.restaurant.name}}</td>
                                    <td>{{userVote.total}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.tableWrapper -->

                    </div><!-- ./col-md-8 -->
                </div>
                <div class="row">


                    <div class="col-md-6">
                        <div class="editContent">
                            <h3>Ranking Geral</h3>

                            <p>
                                Veja os restaurantes mais votados
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="tableWrapper">
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                <tr>
                                    <td>Restaurante</td>
                                    <td>Geral</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="overall in vm.overallRankingData | orderBy: '-[1]'">
                                    <td>{{overall[0].name}}</td>
                                    <td>{{overall[1]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.tableWrapper -->

                    </div><!-- ./col-md-8 -->
                </div><!-- /.row -->

            </div><!-- /.container -->

        </div><!-- /.item -->


    </div><!-- /.container -->

</div><!-- /.item -->